/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif
}

/*
    1. Từ ngoài vào trong
    2. Từ trên xuống dưới
    3. Tổng quan đến chi tiết
*/

/*
    1. Vị trí
    2. Kích thước (Width, height)
    3. Màu sắc 
    4. Kiểu dáng
*/

/* Common */

.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

    .row::after {
        content: "";
        display: block;
        clear: both
    }

.column {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: calc(100% / 3);
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.btn {
    display: inline-block;
    border: none;
    color: #fff;
    background: #000;
    margin-top: 16px;
    padding: 8px 16px;
}

    .btn:hover {
        cursor: pointer;
        background: #ccc;
        color: #000;
    }

/* Main */
#main {
}


/* Header */
#header {
    height: 48px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block
}

#nav,
.subnav {
    list-style-type: none;
}

    #nav > li {
        display: inline-block;
    }

    #nav li {
        position: relative
    }

    #nav > li > a {
        color: #fff;
        text-transform: uppercase
    }

    #nav li a {
        text-decoration: none;
        line-height: 48px;
        padding: 0 24px;
        display: block;
    }

    #nav > li:hover > a,
    #nav .subnav li:hover a {
        color: #000 !important;
        background-color: #ccc !important;
    }

    #nav li:hover .subnav {
        display: block;
    }


    #nav .subnav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
        min-width: 160px;
    }


        #nav .subnav a {
            color: #000;
            padding: 0 12px;
            line-height: 40px;
        }

    #nav .nav-arrow-down {
        font-size: 12px;
    }

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .search-btn,
#header .mobile-menu-btn {
    float: right;
    padding: 0 21px;
}

    #header .search-btn:hover {
        background-color: #f44336;
        cursor: pointer;
    }

    #header .mobile-menu-btn:hover {
        background-color: #ccc;
    }

        #header .mobile-menu-btn:hover .menu-icon {
            color: #000;
        }

#header .search-icon,
#header .menu-icon {
    color: #fff;
    font-size: 20px;
    line-height: 48px;
}


#slider {
    margin-top: 48px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider1.jpg) top center / cover no-repeat;
    position: relative;
}

    #slider .text-content {
        position: absolute;
        bottom: 48px;
        color: #fff;
        width: 100%;
        /* left: 50%;
        transform: translateX(-50%);*/
        /*right: 0;
        left: 0;*/
        text-align: center;
    }

    #slider .text-heading {
        font-weight: 500;
        font-size: 24px;
    }

    #slider .text-description {
        font-size: 15px;
        margin-top: 24px;
    }

#content {
}

    #content .content-session {
        width: 800px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 64px 0 112px;
    }

    #content .session-heading {
        text-align: center;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 4px;
    }

    #content .session-sub-heading {
        text-align: center;
        font-size: 15px;
        margin-top: 25px;
        font-style: italic;
        opacity: 0.7
    }

    #content .about-text {
        text-align: justify;
        font-size: 15px;
        margin-top: 25px;
        line-height: 1.4;
    }

    #content .member-list {
        padding-top: 32px;
    }


    #content .member-name {
        font-size: 15px
    }

    #content .member-image {
        margin-top: 15px;
        width: 154px;
        border-radius: 4px;
    }

.tour-section {
    background: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
}

    .tickets-list li {
        color: #757575;
        font-size: 15px;
        padding: 11px 16px;
        border-bottom: 1px solid #ddd;
        list-style-type: none;
    }

    .tickets-list .sold-out {
        background-color: #f44336 !important;
        color: #fff;
        padding: 3px 4px;
        margin-left: 16px !important;
    }

    .tickets-list .quantity {
        float: right;
        margin-left: 16px;
        width: 24px;
        height: 24px;
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 24px;
        margin-top: -3px;
    }

.places-list {
    margin-top: 16px;
}

    .places-list .place-img:hover {
        opacity: 0.6
    }

    .places-list .place-img {
        width: 100%;
        display: block;
    }

    .places-list .place-body {
        background-color: #fff;
        padding: 16px;
        font-size: 16px;
    }

    .places-list .place-heading {
        font-size: 16px;
        font-weight: 600;
    }

    .places-list .place-time {
        margin-top: 15px;
        opacity: 0.60;
    }

    .places-list .place-description {
        margin-top: 15px;
        line-height: 1.4
    }



.contact-content {
    margin-top: 48px;
}

    .contact-content .contact-info {
        font-size: 18px;
        line-height: 1.4;
    }

        .contact-content .contact-info i[class*="ti-"] {
            width: 30px;
            display: inline-block;
        }

    .contact-content .contact-form {
        font-size: 15px;
    }

        .contact-content .contact-form .form-control {
            padding: 10px;
            border: 1px solid #ccc;
            width: 100%;
            outline: none;
        }

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center
}

    #footer .socials-list {
        font-size: 24px
    }

        .copyright a,
        #footer .socials-list a {
            color: rgba(0, 0, 0, 0.6);
            text-decoration: none
        }

            .copyright a:hover,
            #footer .socials-list a:hover {
                color: rgba(0, 0, 0, 0.4)
            }

    #footer .copyright {
        margin-top: 15px
    }


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

    .modal.open {
        display: flex;
    }

    .modal .modal-container {
        background: #fff;
        width: 900px;
        max-width: calc(100% - 32px);
        min-height: 200px;
        position: relative;
        animation: modalFadeIn ease .6s;
    }

    .modal .modal-close {
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        padding: 16px;
    }

        .modal .modal-close:hover,
        .modal #modal-buy-ticket:hover {
            cursor: pointer;
            color: #000;
            background-color: #ccc;
        }

    .modal .modal-header {
        background: #009688;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: #fff;
        line-height: 1.5;
    }


    .modal .modal-body {
        padding: 16px;
    }

    .modal .modal-label {
        font-size: 15px;
        display: block;
        margin-bottom: 12px;
        line-height: 1.5;
    }

    .modal .modal-input {
        border: 1px solid #ccc;
        width: 100%;
        padding: 10px;
        height: 37px;
        margin-bottom: 24px;
        font-size: 15px;
    }

    .modal #modal-buy-ticket {
        width: 100%;
        background: #009688;
        border: none;
        color: #fff;
        font-size: 15px;
        padding: 16px;
        margin: 16px 0;
        text-transform: uppercase;
    }

    .modal .modal-footer {
        padding: 16px;
        float: right;
    }

        .modal .modal-footer a {
            color: #2196F3
        }

@keyframes modalFadeIn {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
